[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.8"
psycopg2-binary = "*"
django-rest-auth = "==0.9.5"
django-allauth = "==0.41.0"
coverage = "*"

[requires]
python_version = "3.8"
